html
	head
		meta(content="text/html;charset=utf-8", http-equiv="Content-Type")
		meta(content="utf-8" http-equiv="encoding")

		script(src="//code.jquery.com/jquery-1.11.3.min.js")
		script(src="main.min.js")

		link(rel="stylesheet",type="text/css",href="main.min.css")
		link(rel="stylesheet",type="text/css",href="screen.min.css",media="screen")
		link(rel="stylesheet",type="text/css",href="print.min.css",media="print")
	body
		#content
			block content
