extends ../.templates/default.jade

block content
	#title
		h1 CSULB ACM ICPC Notebook
	#toc
		h1 Table of Contents
		ul.items
	
	#items
		#i0.item(val="Some Algorithm")
			h1 Some Algorithm
			p Hello World!
		#i1.item(val="Another Algorithm")
			h1 Another Algorithm
			p Hello World!
		#i2.item(val="Some Algorithm")
			h1 Some Algorithm
			p Hello World!
		#i3.item(val="Another Algorithm")
			h1 Another Algorithm
			p Hello World!
		#i4.item(val="Some Algorithm")
			h1 Some Algorithm
			p Hello World!
		#i5.item(val="Another Algorithm")
			h1 Another Algorithm
			p Hello World!
		#i6.item(val="Some Algorithm")
			h1 Some Algorithm
			p Hello World!
		#i7.item(val="Another Algorithm")
			h1 Another Algorithm
			p Hello World!
